<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pachong.dao.lpl_championMapper" >
  <resultMap id="BaseResultMap" type="com.pachong.entity.lpl_champion" >
    <id column="iChampionId" property="ichampionid" jdbcType="INTEGER" />
    <result column="AppearancesFrequency" property="appearancesfrequency" jdbcType="INTEGER" />
    <result column="AveragingPick" property="averagingpick" jdbcType="REAL" />
    <result column="AveragingBan" property="averagingban" jdbcType="REAL" />
    <result column="AveragingWin" property="averagingwin" jdbcType="REAL" />
    <result column="aKill" property="akill" jdbcType="INTEGER" />
    <result column="AveragingKill" property="averagingkill" jdbcType="REAL" />
    <result column="Death" property="death" jdbcType="INTEGER" />
    <result column="AveragingDeath" property="averagingdeath" jdbcType="REAL" />
    <result column="Assists" property="assists" jdbcType="INTEGER" />
    <result column="AveragingAssists" property="averagingassists" jdbcType="REAL" />
    <result column="AveragingOfferedRate" property="averagingofferedrate" jdbcType="REAL" />
    <result column="OftenMemberName" property="oftenmembername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    iChampionId, AppearancesFrequency, AveragingPick, AveragingBan, AveragingWin, aKill, 
    AveragingKill, Death, AveragingDeath, Assists, AveragingAssists, AveragingOfferedRate, 
    OftenMemberName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pachong.entity.lpl_championExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from lpl_champion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from lpl_champion
    where iChampionId = #{ichampionid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from lpl_champion
    where iChampionId = #{ichampionid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.pachong.entity.lpl_championExample" >
    delete from lpl_champion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pachong.entity.lpl_champion" >
    insert into lpl_champion (iChampionId, AppearancesFrequency, 
      AveragingPick, AveragingBan, AveragingWin, 
      aKill, AveragingKill, Death, 
      AveragingDeath, Assists, AveragingAssists, 
      AveragingOfferedRate, OftenMemberName)
    values (#{ichampionid,jdbcType=INTEGER}, #{appearancesfrequency,jdbcType=INTEGER}, 
      #{averagingpick,jdbcType=REAL}, #{averagingban,jdbcType=REAL}, #{averagingwin,jdbcType=REAL}, 
      #{akill,jdbcType=INTEGER}, #{averagingkill,jdbcType=REAL}, #{death,jdbcType=INTEGER}, 
      #{averagingdeath,jdbcType=REAL}, #{assists,jdbcType=INTEGER}, #{averagingassists,jdbcType=REAL}, 
      #{averagingofferedrate,jdbcType=REAL}, #{oftenmembername,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pachong.entity.lpl_champion" >
    insert into lpl_champion
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ichampionid != null" >
        iChampionId,
      </if>
      <if test="appearancesfrequency != null" >
        AppearancesFrequency,
      </if>
      <if test="averagingpick != null" >
        AveragingPick,
      </if>
      <if test="averagingban != null" >
        AveragingBan,
      </if>
      <if test="averagingwin != null" >
        AveragingWin,
      </if>
      <if test="akill != null" >
        aKill,
      </if>
      <if test="averagingkill != null" >
        AveragingKill,
      </if>
      <if test="death != null" >
        Death,
      </if>
      <if test="averagingdeath != null" >
        AveragingDeath,
      </if>
      <if test="assists != null" >
        Assists,
      </if>
      <if test="averagingassists != null" >
        AveragingAssists,
      </if>
      <if test="averagingofferedrate != null" >
        AveragingOfferedRate,
      </if>
      <if test="oftenmembername != null" >
        OftenMemberName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ichampionid != null" >
        #{ichampionid,jdbcType=INTEGER},
      </if>
      <if test="appearancesfrequency != null" >
        #{appearancesfrequency,jdbcType=INTEGER},
      </if>
      <if test="averagingpick != null" >
        #{averagingpick,jdbcType=REAL},
      </if>
      <if test="averagingban != null" >
        #{averagingban,jdbcType=REAL},
      </if>
      <if test="averagingwin != null" >
        #{averagingwin,jdbcType=REAL},
      </if>
      <if test="akill != null" >
        #{akill,jdbcType=INTEGER},
      </if>
      <if test="averagingkill != null" >
        #{averagingkill,jdbcType=REAL},
      </if>
      <if test="death != null" >
        #{death,jdbcType=INTEGER},
      </if>
      <if test="averagingdeath != null" >
        #{averagingdeath,jdbcType=REAL},
      </if>
      <if test="assists != null" >
        #{assists,jdbcType=INTEGER},
      </if>
      <if test="averagingassists != null" >
        #{averagingassists,jdbcType=REAL},
      </if>
      <if test="averagingofferedrate != null" >
        #{averagingofferedrate,jdbcType=REAL},
      </if>
      <if test="oftenmembername != null" >
        #{oftenmembername,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pachong.entity.lpl_championExample" resultType="java.lang.Integer" >
    select count(*) from lpl_champion
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update lpl_champion
    <set >
      <if test="record.ichampionid != null" >
        iChampionId = #{record.ichampionid,jdbcType=INTEGER},
      </if>
      <if test="record.appearancesfrequency != null" >
        AppearancesFrequency = #{record.appearancesfrequency,jdbcType=INTEGER},
      </if>
      <if test="record.averagingpick != null" >
        AveragingPick = #{record.averagingpick,jdbcType=REAL},
      </if>
      <if test="record.averagingban != null" >
        AveragingBan = #{record.averagingban,jdbcType=REAL},
      </if>
      <if test="record.averagingwin != null" >
        AveragingWin = #{record.averagingwin,jdbcType=REAL},
      </if>
      <if test="record.akill != null" >
        aKill = #{record.akill,jdbcType=INTEGER},
      </if>
      <if test="record.averagingkill != null" >
        AveragingKill = #{record.averagingkill,jdbcType=REAL},
      </if>
      <if test="record.death != null" >
        Death = #{record.death,jdbcType=INTEGER},
      </if>
      <if test="record.averagingdeath != null" >
        AveragingDeath = #{record.averagingdeath,jdbcType=REAL},
      </if>
      <if test="record.assists != null" >
        Assists = #{record.assists,jdbcType=INTEGER},
      </if>
      <if test="record.averagingassists != null" >
        AveragingAssists = #{record.averagingassists,jdbcType=REAL},
      </if>
      <if test="record.averagingofferedrate != null" >
        AveragingOfferedRate = #{record.averagingofferedrate,jdbcType=REAL},
      </if>
      <if test="record.oftenmembername != null" >
        OftenMemberName = #{record.oftenmembername,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update lpl_champion
    set iChampionId = #{record.ichampionid,jdbcType=INTEGER},
      AppearancesFrequency = #{record.appearancesfrequency,jdbcType=INTEGER},
      AveragingPick = #{record.averagingpick,jdbcType=REAL},
      AveragingBan = #{record.averagingban,jdbcType=REAL},
      AveragingWin = #{record.averagingwin,jdbcType=REAL},
      aKill = #{record.akill,jdbcType=INTEGER},
      AveragingKill = #{record.averagingkill,jdbcType=REAL},
      Death = #{record.death,jdbcType=INTEGER},
      AveragingDeath = #{record.averagingdeath,jdbcType=REAL},
      Assists = #{record.assists,jdbcType=INTEGER},
      AveragingAssists = #{record.averagingassists,jdbcType=REAL},
      AveragingOfferedRate = #{record.averagingofferedrate,jdbcType=REAL},
      OftenMemberName = #{record.oftenmembername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.pachong.entity.lpl_champion" >
    update lpl_champion
    <set >
      <if test="appearancesfrequency != null" >
        AppearancesFrequency = #{appearancesfrequency,jdbcType=INTEGER},
      </if>
      <if test="averagingpick != null" >
        AveragingPick = #{averagingpick,jdbcType=REAL},
      </if>
      <if test="averagingban != null" >
        AveragingBan = #{averagingban,jdbcType=REAL},
      </if>
      <if test="averagingwin != null" >
        AveragingWin = #{averagingwin,jdbcType=REAL},
      </if>
      <if test="akill != null" >
        aKill = #{akill,jdbcType=INTEGER},
      </if>
      <if test="averagingkill != null" >
        AveragingKill = #{averagingkill,jdbcType=REAL},
      </if>
      <if test="death != null" >
        Death = #{death,jdbcType=INTEGER},
      </if>
      <if test="averagingdeath != null" >
        AveragingDeath = #{averagingdeath,jdbcType=REAL},
      </if>
      <if test="assists != null" >
        Assists = #{assists,jdbcType=INTEGER},
      </if>
      <if test="averagingassists != null" >
        AveragingAssists = #{averagingassists,jdbcType=REAL},
      </if>
      <if test="averagingofferedrate != null" >
        AveragingOfferedRate = #{averagingofferedrate,jdbcType=REAL},
      </if>
      <if test="oftenmembername != null" >
        OftenMemberName = #{oftenmembername,jdbcType=VARCHAR},
      </if>
    </set>
    where iChampionId = #{ichampionid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pachong.entity.lpl_champion" >
    update lpl_champion
    set AppearancesFrequency = #{appearancesfrequency,jdbcType=INTEGER},
      AveragingPick = #{averagingpick,jdbcType=REAL},
      AveragingBan = #{averagingban,jdbcType=REAL},
      AveragingWin = #{averagingwin,jdbcType=REAL},
      aKill = #{akill,jdbcType=INTEGER},
      AveragingKill = #{averagingkill,jdbcType=REAL},
      Death = #{death,jdbcType=INTEGER},
      AveragingDeath = #{averagingdeath,jdbcType=REAL},
      Assists = #{assists,jdbcType=INTEGER},
      AveragingAssists = #{averagingassists,jdbcType=REAL},
      AveragingOfferedRate = #{averagingofferedrate,jdbcType=REAL},
      OftenMemberName = #{oftenmembername,jdbcType=VARCHAR}
    where iChampionId = #{ichampionid,jdbcType=INTEGER}
  </update>
</mapper>